<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title> Quizzer </title>
    </head>
    <body>
        <div class="container">
            <% if (isAuthenticated) {%>
                <div class="row">
                <div class="col-lg-8">
                    <h1> <%= data.quizName %> Feedback </h1>
                </div>
                <div class="col-lg-1" style="padding-top: 30px;">
                    <a href="feedback"> Back <span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <div class="col-lg-2" style="padding-top: 30px;">
                    <a href="dashboard">Return to dashboard <span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <div class="col-lg-1" style="padding-top: 30px;">
                    <a href="logout">Logout <span class="glyphicon glyphicon-user"></span></a>
                </div>
                
            </div>
            <br>
            <div class="panel-group">
                    <%for (feedback in data.feedback) {%>
                    <%var str = data.quizName;
                            var rep = data.feedback[feedback]._id%>
                        <div class="panel panel-default" id= "<%= rep %>">
                          <div class="panel-body">
                          <div class="col-md-11">
                              Difficulty: <%=data.feedback[feedback].difficulty%>
                              <br>
                              Comments: <%=data.feedback[feedback].comments%>
                          </div>
                          <div> 
                                <input type="hidden" id="remove_<%=rep%>" value="<%=JSON.stringify(data.feedback[feedback])%>" url="remove_feedback" req="0">
                                <a href="" ><span class="glyphicon glyphicon-remove" id="remove_<%=rep%>"></span></a>
                          </div>
                          </div>
                        </div>
                    <%}%>
                    
                </div>
                <div class= "col-md-4">
                
            </div>
            <div class= "col-md-8 ">
                <a href="admin_create_quiz"><button type="button" class="btn btn-primary">Would you like to create a new quiz?</button></a>
            </div>
            <%} else {%>
                <h3>You must be logged in to view this page. <a href="login">Log in</a></h3>
            <% } %>
        </div>
        <script type="text/javascript">
            function getData(selector) {
                var post = $("#"+selector).val();
                var url = $("#"+selector).attr('url');
                var req = $("#"+selector).attr('req');
                console.log(url);
                if (req == 0) {
                        $.ajax({
                        'url': url,
                        'type': 'POST', 
                        'data': {data: post},
                        success: function (response) {
                            console.log(response);
                            $('#'+response).fadeOut();
                        }
                    });
                }
                else if (req == 1) {
                    var form = $("<form></form>");
                        form.attr('action', url)
                            .attr('method', 'POST');
                        form.append($('<input />').attr('name','data').attr('value',post).attr('type', 'hidden'));

                     form.submit();
                    }
                else if (req == 2) {
                    $.ajax({
                        'url': url,
                        'type': 'POST',
                        'data': {data: post},
                        success: function (response) {
                            var str = response.quizName;
                            var rep = str.replace(" ", "_");
                            $('#'+rep).remove();
                            }
                        });
                    }
                
            };

            $(document).ready(function () {
                $('.panel-group').click(function (e) {
                    if (e.target !== e.currentTarget) {
                           var selector = e.target.id;
                           e.preventDefault();
                           getData(selector);
                     };
               });
            });
        </script>
    </body>
</html>
