<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--        <script src="js/app.js"></script>-->
<!--        <link rel="stylesheet" href="main.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title> Quizzer </title>
    </head>
    <body>
        <div class="container">
        <% if (isAuthenticated) {%>
            <div class="row">
                <div class="col-lg-9">
                    <h1> Response Evaluation </h1>
                </div>
                <div class="col-lg-2" style="padding-top: 30px;">
                    <a href="dashboard">Return to dashboard <span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <div class="col-lg-1" style="padding-top: 30px;">
                    <a href="logout">Logout <span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
            
            <div class="panel-group">
                    <% for (index in data) {%> 
                     <%var str = data[index].quizName;
                            var rep = str.replace(" ", "_");%>
                    <div class="panel panel-default" id= "<%= rep %>">
                        <div class="panel-heading">
                            <div class= "col-md-9"> <%=data[index].quizName%> </div>
                            <!-- (<%=data[index].quizDescription%>) -->
                           <!--  <%if (data[index].responses.length == 0){%>
                            <div class= "col-md-1">
                                <p>Evaluate</p>
                            </div>
                            <div>
                                <p>Mark evaluated<p>
                            </div>
                            <%} else {%> -->
                                <div class= "col-md-1">
                                    <input type="hidden" id="evaluate_<%=rep%>" value="<%= JSON.stringify(data[index]) %>" url="evaluate" req="1"/>
                                    <a href="#" id="evaluate_<%=rep%>">Evaluate</a>
                                </div>
                                <div >
                                <input type="hidden" id="mark_<%=rep%>_evaulated" value="<%= JSON.stringify(data[index]) %>" url="mark_evaluated" req="0">
                                    <a href="#" id="mark_<%=rep%>_evaulated">Mark evaluated</a>
                                </div>
                            <!-- <%}%> -->
                        </div>
                    </div>
                    <%}%>
            </div>
            <div class= "col-md-4">
                
            </div>
            <div class= "col-md-8 ">
                <a href="admin_create_quiz"><button type="button" class="btn btn-primary">Would you like to create a new quiz?</button></a>
            </div>
            <%} else { %>
            <h3>You must be logged in to view this page. <a href="login">Log in</a></h3>
        <% } %>
        </div>
        <script type="text/javascript">
            function getData(selector) {
                //retrieve parameters
                var post = $("#"+selector).val();
                var url = $("#"+selector).attr('url');
                var req = $("#"+selector).attr('req');
                
                if (req == 0) { //ajax request
                        $.ajax({
                        'url': url,
                        'type': 'POST',
                        'data': {data: post},
                        success: function (response) {
                            var data = JSON.parse(response)
                            var str = data.quizName;
                            var rep = str.replace(" ", "_");
                            $('#'+rep).remove();
                        }
                    });
                }
                else if (req == 1) {    //hidden form request
                    var form = $("<form></form>");
                        form.attr('action', url)
                            .attr('method', 'POST');
                        form.append($('<input />').attr('name','data').attr('value',post).attr('type', 'hidden'));

                     form.submit();
                    }
                
            };

            $(document).ready(function () {
                //click event listener
                $('.panel-group').click(function (e) {
                    if (e.target !== e.currentTarget) {
                           var selector = e.target.id;
                           e.preventDefault();
                           getData(selector);
                     };
               });
            });
        </script>
    </body>
</html>